*,
body,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body {
    height: 100%;
    background-color: #ededf3;
}
#main {
    width: 100%;
}

.content {
    margin: 10px 10px 0 10px;
    display: flex;
}

/* index */

.index {
    margin: 0 10px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: calc(100vh - 30px);
    position: relative;
}
.index-title {
    margin: 3vw 0 0 1vw;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}
.index-title > span {
    text-align: right;
    font-weight: bolder;
    color: #666699;
    font-size: 3vw;
}
.big-title {
    font-size: 5.5vw !important;
}
.index-image {
    position: absolute;
    bottom: 5%;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.index-image > img {
    width: 60vw;
}

/* left part */

.left-col {
    margin: 0 5px;
    width: 12%;
    min-height: calc(100vh - 10px);
    background-color: #666699;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 0 5px 5px;
}
.left-col > div {
    background-color: transparent;
}
.title-logo {
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bolder;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
}
.title-logo > span,
.fa-handshake {
    background-color: transparent;
}
span.logo {
    font-size: 4rem;
}
span.title {
    padding: 0 10%;
    font-size: 2vw;
}
.left-bar {
    margin-top: 10px;
}
.nav-bar {
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 10px;
}
.list-content {
    background-color: transparent;
    width: 80%;
    height: 45px;
    font-size: 1.2rem;
    color: white;
    text-align: end;
    padding-right: 15px;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
}
.list-content-clicked {
    color: #666699;
    background-color: #ededf3;
    font-weight: bolder;
    width: 80%;
    height: 45px;
    font-size: 1.2rem;
    text-align: end;
    padding-right: 15px;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
}
.list-content:hover {
    color: #666699;
    background-color: #ededf3;
    font-weight: bolder;
}
.nav-bar li + li {
    margin-top: 10px;
}

/* right part */

.right-col {
    width: 88%;
    margin: 0 10px;
    padding: 1% 0 0 0;
    /* display: flex; */
    display: none;
    flex-flow: column nowrap;
}
.rate-head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate-start,
.rate-end {
    width: 35%;
}
.rate-middle {
    width: 30%;
}
.rate-start {
    padding: 10px;
}
.rate-block {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}
.block-title {
    margin-top: 10px;
    height: auto;
    font-size: 32px;
    text-align: center;
}
.block-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.block-month-year {
    margin-top: 0;
    line-height: 2.5vw;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.block-month-year > span {
    color: #7b7b7b;
    font-size: 2.5vw;
    font-family: 'Bungee', cursive;
}
.block-content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.block-content > span {
    color: #666699;
}
.rank-rate {
    font-size: 6vw;
    font-family: 'Archivo Black', sans-serif;
}
.rank-description {
    position: absolute;
    top: 75%;
    left: 20%;
    font-size: 1.5vw;
    text-align: center;
}
.rate-end {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
    position: relative;
    bottom: -4.5vw;

    z-index: -1;
}
.rate-end > span {
    font-size: 15vw;
    font-family: 'Archivo Black', sans-serif;
    color: #bcbcd2;
    position: absolute;
}
.rate-content {
    /* display: none; */
    padding: 0 10px 10px;
}
/* overview content */

.overview-content {
    display: none;
    margin-top: 5px;
    padding: 0 10px 10px;
}
.overview-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chart-block {
    background-color: white;
    width: 49%;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
.chart-title {
    margin: 1vw 0 0 2vw;
    display: flex;
    flex-flow: column nowrap;
}
.chart-title > span {
    font-size: 1.5vw;
    font-weight: bolder;
}
.chart {
    flex-grow: 1;
    height: 20vw;
    margin: 0 2vw;
}
.selector-box {
    position: absolute;
    display: flex;
    top: 3%;
    right: 5%;
}
.selector-box > div {
    margin: 1vw 0.5vw;
}
.chart-target {
    padding: 5px 20px;
    border-radius: 99em;
    position: absolute;
    bottom: 20%;
    right: 10%;
    background-color: #ffc300;
}
.text-selector {
    font-size: 1vw;
}
/* overview table */
.overview-table-block {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 1vw;
}
.overview-table {
    width: 95%;
    margin: 1vw auto;
}
.overview-table thead {
    background-color: #007979;
    color: white;
    white-space: nowrap;
}
.overview-table,
.overview-table td,
.overview-table th {
    border: 1px solid #f0f0f0;
    padding: 10px;
}
.overview-tbody tr {
    height: 100vh;
}
.overview-tbody td {
    font-size: 1.3vw;
}
.overview-tbody pre {
    white-space: pre-wrap;
}

/* strategy-list */
.strategy-brand-list {
    list-style: none;
    display: flex;
    margin-top: 10px;
}
.strategy-brand-list li {
    text-decoration: none;
    color: #a0a0a0;
    padding: 5px;
    font-size: 1vw;
    cursor: pointer;
}
.strategy-brand-list li:hover {
    color: gray;
    border-bottom: 1px solid #d0d0d0;
}
.strategy-brand-list li + li {
    margin-left: 10px;
}
.strategy-brand-list li + li::before {
    content: '/ ';
    color: #a0a0a0;
}
/* main part */
.rate-main {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
}
.main-title-box {
    /* display: none; */
    line-height: 1.6vw;
    padding: 20px 30px 0 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.main-title > span {
    font-weight: bold;
    font-size: 1.6vw;
}
.title-select-box {
    width: 50%;
    display: flex;
}
.select-score-box {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}
.select-score-box > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    color: white;
    font-size: 0.8vw;
    border-radius: 15px;
    cursor: pointer;
}
.score-item.selected {
    position: relative;
}
.score-item.selected::before {
    content: '';
    position: absolute;
    color: black;
    background-image: url(./icon/check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: -1.8vw;
}
.select-bu-box {
    display: flex;
    align-items: center;
}
.select-bu-box > div {
    width: 8vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #bcbcd2;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
}
.select-bu-box > div + div {
    margin-left: 0.5vw;
}
.bu-item.selected {
    background-color: #666699;
    pointer-events: none;
    cursor: none;
}
.main-table {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 15px 0;
    padding: 0 1vw;
    position: relative;
}
.main-table-title {
    width: 100%;
    height: 59px;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    padding-right: 3vw;
}
.main-table-content {
    width: 100%;
    /* max-height: calc(100vh - 1vw - 308px);
    overflow-y: overlay; */
    margin-top: 58px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding-right: 1vw;
}
/* scrollbar */
.main-table-content::-webkit-scrollbar {
    width: 10px;
}
.main-table-content::-webkit-scrollbar-track {
    background-color: #ededf3;
    border-radius: 2em;
}
.main-table-content::-webkit-scrollbar-thumb {
    background-color: #bcbcd2;
    border-radius: 2em;
}
.e {
    min-height: 58px;
    width: 12%;
}
.main-customer {
    display: flex;
    flex-flow: column nowrap;
    width: 12%;
}
.table-title {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#table-rank {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.bu-title {
    display: none;
    flex-flow: column nowrap;
    margin-right: 0.5vw;
}
.bu-title > div {
    text-align: center;
    writing-mode: vertical-lr;
    transform: scaleX(-1);
    transform: rotate(180deg);
    color: #656598;
    background-color: #ededf3;
    padding: 0 5px;
}
.customer,
.editor,
.rank-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.rank-title {
    width: 45%;
}
.rank-title-actual,
.rank-title-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3vw;
    font-size: 0.8vw;
    color: white;
    border-radius: 1vw;
}
.rank-title-actual {
    background-color: #666699;
}
.rank-title-forecast {
    background-color: #bcbcd2;
}
.customer > div {
    height: 3vw;
    display: flex;
    text-align: end;
    font-weight: bolder;
    text-align: left;
    align-items: center;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-middle {
    display: flex;
    flex-flow: column nowrap;
    /* width: 82%; */
    flex-grow: 1;
}
.table-year,
.table-month {
    display: flex;
    align-items: center;
    width: 88%;
    height: auto;
}
.table-month {
    border-bottom: 1px solid #d0d0d0;
}

.table-year > div {
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    width: 50%;
    color: #656598;
    border-radius: 25px;
}
.table-month > div {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
}
.last-year {
    background-color: #ededf3;
}
.this-year {
    background-color: #bcbcd2;
}
.main-end {
    /* display: flex; */
    display: none;
    flex-flow: column nowrap;
    width: 5%;
}
.editor > div {
    font-size: 20px;
    height: 3vw;
}
.table-row {
    /* height: 3.6vw; */
    display: flex;
    flex: 1 0 0;
    /* border: 1px solid #f0f0f0;
    border-radius: 99em; */
}
.table-row.forecast {
    border-bottom: 1px solid #d0d0d0;
}
.table-row.bottom-line {
    border-bottom: 1px solid #d0d0d0;
}
.table-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.last-div {
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 1.2vw;
    width: 1.2vw;
    /* margin: 0.3vw 0.5vh; */

    cursor: pointer;
    border: 1px solid #d0d0d0;
    border-radius: 99em;
}
.circle:not([class~='null']):hover {
    filter: brightness(0.8);
}
.null {
    background-color: whitesmoke;
    cursor: unset;
}
.red {
    background-color: #cc3300;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #339933;
}
.sign-circle {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 99em;
    background-size: 0;
    filter: brightness(1.2);
}
/* modal content */
.modal-fullscreen {
    margin: 2% auto;
    width: 90vw;
    height: auto;
}
.modal-content {
    border-radius: 5px !important;
}
.table-modal {
    width: 100%;
    word-break: break-all;
}
.table-modal,
.table-modal th,
.table-modal td {
    border: 1px solid #d0d0d0;
}
.table-modal th,
.table-modal td {
    padding: 5px 10px;
}
.table-modal th {
    background-color: #007979;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}
.td-action {
    width: 50%;
}
.modal-issue-pre {
    white-space: pre-wrap;
}
/* Back to Top */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: 3px solid gray; /* Remove borders */
    background-color: rgba(104, 103, 103, 0.1);
    color: gray;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
}
#backToTop:hover {
    color: black;
}
